@media (min-width: 992px) {
    #answerWidget .answer-widget-dimension {
        height: 500px
    }
}


@media (max-width: 991px) {
    textarea {
        height: 250px;
        font-size: 22px;
    }
    .category-questions-list {
        height: 500px;
    }
}

#answerBox {
    font-size: 26px;
    height: 100%;
}


#answerWidget .answer-widget-dimension-1 > *:nth-child(1) {
    /*height: 33.33%;*/
    height: calc(50% - 1rem);
    margin-bottom: 1rem;
}

#answerWidget .answer-widget-dimension-1 > *:nth-child(2) {
    /*height: calc(66.66% - 1rem);*/
    height: 50%;
}

#answerWidget .center-pane {
    z-index: 9999;
}

#answerWidget .answer-widget-dimension-1 > .d-flex > * {
    flex: 0 0 50%; /* flex-grow, flex-shrink, flex-basis */
    overflow: hidden;
}

/* VISION BOARD */
.vision-board img {
    transition: transform 0.5s ease;
}

    .vision-board img:hover {
        transform: scale(3) translate(0, 30px);
    }

#answerForm {
    border: none;
    padding: 0;
}