node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.docker
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/secrets.yaml
**/values.dev.yaml
LICENSE
.dockerignore