<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>LogViewer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/static/groovy-spinner.css" rel="stylesheet" />
    <link href="/static/site.css" rel="stylesheet" />
    <link href="/static/application-colors.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" id="root"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/babel-standalone@6.26.0/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="/static/utils.js"></script>
<script src="/static/log-cache.js"></script>
<script src="/static/data.js"></script>
<script type="text/babel" src="/static/groovy-spinner.js"></script>
<script type="text/babel" src="/static/goto.js"></script>
<script type="text/babel" src="/static/settings.js"></script>
<script type="text/babel" src="/static/log-table-body.js"></script>
<script type="text/babel" src="/static/site.js"></script>
</html>
